<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no">
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="stylesheet" href="css/stuck.css">
		<link rel="stylesheet" href="css/form.css">
		<link rel="stylesheet" href="css/touchTouch.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/jquery.js"></script>
		<script src="js/jquery-migrate-1.1.1.js"></script>
		<script src="js/script.js"></script>
		<script src="js/superfish.js"></script>
		<script src="js/jquery.equalheights.js"></script>
		<script src="js/jquery.mobilemenu.js"></script>
		<script src="js/jquery.easing.1.3.js"></script>
		<script src="js/tmStickUp.js"></script>
		<script src="js/jquery.ui.totop.js"></script>
		<script src="js/touchTouch.jquery.js"></script>
		<script src="js/sForm.js"></script>
		<script>
		$(document).ready(function(){
			$().UItoTop({ easingType: 'easeOutQuart' });
			$('#stuck_container').tmStickUp({});
			$('.gallery a.gal_item').touchTouch();
		});
		</script>
		<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="" id="top">
<!--==============================header=================================-->
		<header>
			<div id="stuck_container">
				<!-- <div class="container">
					<div class="row"> -->
						<!-- <div class="grid_12">
							<h1>
								<a href="#">
									<img src="images/logo.png" alt="Your Happy Family">
								</a>
							</h1>
							<div class="menu_block ">
								<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								 <ul class="sf-menu">
										<li><a href="index.html">About</a></li>
										<li class="current"><a href="index-1.html">Portfolio</a></li>
										<li><a href="index-2.html">Resume</a></li>
										<li><a href="index-3.html">Blog</a></li>
										<li><a href="index-4.html">Contacts</a></li>
									</ul>
								</nav>
								<div class="clear"></div>
							</div>
						</div> -->
					<!-- </div>
				</div> -->
			</div>
		</header>
		<div class="main">
<!--=====================Content======================-->
			<section class="content cont_pad1">
				<div class="container"><div class="ic">More Website Templates @ TemplateMonster.com - May 05, 2014!</div>
				<div class="row">
					<div class="grid_12">
						<h1>
							<a href="#">
								<img src="images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
				    </div>
				<div class="gallery gall__1">
					        <div class="grid_4">
								<h3>Happy BirthDay My Sweet Sister(Chandi)</h3>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
							
								<a href="images/Gentle look/full1.jpg" class="gal_item">
									<img src="images/Gentle look/page2_img1.jpg" alt="">
									
									<span class="gal_magnify"></span>
								</a>
							</div>
													
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/Gentle look/full2.jpg" class="gal_item">
									<img src="images/Gentle look/page2_img2.jpg" alt="">
									<!-- <div class="gal_caption">
										<time datetime="2014-01-01">20 Jan 2014</time>
									</div> -->
									<span class="gal_magnify"></span>
								</a>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/Gentle look/full3.jpg" class="gal_item">
									<img src="images/Gentle look/page2_img3.jpg" alt="">
									<span class="gal_magnify"></span>
								</a>
							</div>
			<!-- 	======================================================== Innocent Look======================================================= -->
							<div class="grid_4">
								<h3>Innocent Look</h3>
							</div>
						
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/innocent look/full1.jpg" class="gal_item">
									<img src="images/innocent look/page2_img1.jpg" alt="">
									<!-- <div class="gal_caption">
										<time datetime="2014-01-01">01 Feb 2014</time>
									</div> -->
									<span class="gal_magnify"></span>
								</a>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/innocent look/full2.jpg" class="gal_item">
									<img src="images/innocent look/page2_img2.jpg" alt="">
									<!-- <div class="gal_caption">
										<time datetime="2014-01-01">01 Feb 2014</time>
									</div> -->
									<span class="gal_magnify"></span>
								</a>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/innocent look/full3.jpg" class="gal_item">
									<img src="images/innocent look/page2_img3.jpg" alt="">
								
									<span class="gal_magnify"></span>
								</a>
							</div>
							<!-- 	<div class="clear"></div> -->
				<!-- 	======================================================== Saree look======================================================= -->
								<div class="grid_4">
								<h3>Saree Look</h3>
							</div>
						
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/Saree look/full1.jpg" class="gal_item">
								<img src="images/Saree look/page2_img1.jpg" alt="">
								<!-- <div class="gal_caption">
									<time datetime="2014-01-01">17 Feb 2014</time>
								</div> -->
								<span class="gal_magnify"></span>
								</a>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/Saree look/full2.jpg" class="gal_item">
								<img src="images/Saree look/page2_img2.jpg" alt="">
						
								<span class="gal_magnify"></span>
								</a>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/Saree look/full3.jpg" class="gal_item">
								<img src="images/Saree look/page2_img3.jpg" alt="">
					
								<span class="gal_magnify"></span>
								</a>
							</div>
			<!-- 	======================================================== Smily look======================================================= -->	
							<div class="grid_4">
								<h3>Smily look</h3>
							</div>
						
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/Smily look/full1.jpg" class="gal_item">
									<img src="images/Smily look/page2_img1.jpg" alt="">

									<span class="gal_magnify"></span>
								</a>
							</div>	
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/Smily look/full2.jpg" class="gal_item">
									<img src="images/Smily look/page2_img2.jpg" alt="">

									<span class="gal_magnify"></span>
								</a>
							</div>	
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/Smily look/full3.jpg" class="gal_item">
									<img src="images/Smily look/page2_img3.jpg" alt="">
			
									<span class="gal_magnify"></span>
								</a>
							</div>	
								
								
			<!-- 	======================================================== Stylish look======================================================= -->					
							<div class="grid_4">
								<h3>Stylish look</h3>
							</div>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/Stylish look/full1.jpg" class="gal_item">
									<img src="images/Stylish look/page2_img1.jpg" alt="">

									<span class="gal_magnify"></span>
								</a>
							</div>	
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/Stylish look/full2.jpg" class="gal_item">
									<img src="images/Stylish look/page2_img2.jpg" alt="">

									<span class="gal_magnify"></span>
								</a>
							</div>	
			<!-- 	======================================================== With Family======================================================= -->
			
			
					<div class="grid_4">
								<h3>With Family</h3>
							</div>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/With Family/full1.jpg" class="gal_item">
									<img src="images/With Family/page2_img1.jpg" alt="">

									<span class="gal_magnify"></span>
								</a>
							</div>	
					<!-- 	========================================================With Big Bro & Maa======================================================= -->
								<div class="grid_4">
								<h3>With Big Bro & Maa</h3>
							</div>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/With Family/full2.jpg" class="gal_item">
									<img src="images/With Family/page2_img2.jpg" alt="">

									<span class="gal_magnify"></span>
								</a>
							</div>	
		<!-- 	======================================================== with Our Sweet Bhabi======================================================= -->	
		                    <div class="grid_4">
								<h3>with Our Sweet Bhabi</h3>
							</div>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/with Our Sweet Bhabi/full1.jpg" class="gal_item">
									<img src="images/with Our Sweet Bhabi/page2_img1.jpg" alt="">

									<span class="gal_magnify"></span>
								</a>
							</div>	
			<!-- 	======================================================== with me======================================================= -->	
			     <div class="grid_4">
								<h3>with me</h3>
							</div>
							</div>
							<div class="clear"></div>
							<div class="grid_4">
								<a href="images/with me/full1.jpg" class="gal_item">
									<img src="images/with me/page2_img1.jpg" alt="">

									<span class="gal_magnify"></span>
								</a>
							</div>						
		<!-- 	======================================================== video======================================================= -->					
							<div class="grid_4v">
								<h3>video</h3>
								<video width="500" height="345" controls>
								  <source src="video/mymp41.mp4" type="video/mp4">
								</video>
								
								
							</div>
						</div>
					</div>
				</div>
			</section>
<!--==============================Bot_block=================================-->
			<!-- <section class="bottom_block">
				<div class="container">
					<div class="row">
						<div class="grid_5">
							<div class="bot_title">
								<span class="fa fa-envelope-o"></span>Subscribe to My Newsletter
							</div>
						</div>
						<div class="grid_7">
							<form id="newsletter">
								<div class="row">
									<div class="grid_4">
										<div class="rel">
											<div class="success">Your subscrsibe request has been sent!</div>
											<label class="email">
												<input type="email" value="Your Email Address Here" >
												<span class="error">*This is not a valid email address.</span>
												<span class="clear"></span>
											</label>
										</div>
									</div>
									<div class="grid_3">
										<a href="#" class="btn bt__2" data-type="submit">Submit</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>
		</div> -->
<!--==============================footer=================================-->
		<footer>
			<div class="container">
				<div class="row">
					<!-- <div class="grid_12"> -->
						<div class="footer_socials">
							<a href="#" class="fa fa-twitter"></a>
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-google-plus"></a>
							<a href="#" class="fa fa-pinterest"></a>
						</div>
						<!-- <div class="copy"> -->
							<span class="brand"></span>Ranjan Ku. Sahoo</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
							<!-- <div class="sub_copy"> -->
								<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Website designed by </span><a href="http://www.RKBrothers.com/" rel="nofollow">RKBrothers.com</a>
							<!-- </div> -->
						<!-- </div> -->
					<!-- </div> -->
				</div>
			</div>
		</footer>
	</body>
</html>
